$combo_size: 250px;
.content-box {
   display: flex;
   flex-direction: column;
   margin: auto;

   .search {
      min-height: 110px;

      .flight {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         margin: 10px 0 40px 0;

         .combo {
            min-width: $combo_size;
            max-width: $combo_size;
            display: flex;
            flex-direction: column;
         }

         .origin {
            margin-right: 100px;
         }
      }

      .buttons {
         width: 100%;
         display: flex;
         justify-content: flex-end;
      }
   }
}

:host {
   display: flex;
   flex: 1;
   width: 100%;
}
